.all{
    /* padding: 0px 250px 0px 250px; */
    display: flex;
    flex-direction: column;
    align-items: center;


}
.photos{
    display: flex;
    align-items:center;
}

.all img{
    width:500px;
    height: 500px;
}
.price{

    align-items:center;
    justify-items: center;
    font-size: 50px;
}
.status{
    font-size: 35px;
}

.descriptions{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
/* .qupa{
    pa
} */

.qu {
    border: 1px solid rgb(17, 17, 156);
    border-radius: 15px;
    width: auto;
    height: 25px;
    align-items:center;
    padding: 5px;
    text-decoration: none;
    margin-top: 10px; 
}

.allqu {
    overflow:scroll;
    height: 100vh;
}
