.allHomes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
    grid-gap: 25px 5px;
    border: 1px solid;
    border-radius: 15px;
    padding: 20px;
    align-items: center;
}

.allHomes img{
    width: auto;
    height: 200px;
}