.button {
  font-family: "Prompt", sans-serif;
  font-weight: bolder;
  font-size: 17px;
  text-transform: uppercase;
  border-radius: 30px;
  background-color: rgb(17, 17, 156);
  color: white;
  padding: 15px 25px;
  border: 3px solid rgb(17, 17, 156);
}